body {
    overflow-x: hidden;
}

header.header {
    background-color: #343a40; /* Black color for header */
    color: white;
}

.sidebar {
    background-color: #008080; /* Teal color for sidebar */
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.navbar {
    background-color: #343a40; /* Black color for navbar */
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-nav a {
    color: white;
}

.navbar-toggler {
    border-color: white;
}

.logout-btn {
    color: white !important;
}

.content {
    margin-left: 200px;
    margin-top: 70px; /* Adjust the top margin to create space for student information */
    transition: margin-left 0.5s;
}


.table-container {
    text-align: center;
    margin-top: 50px;
}

.table-container table {
    width: 80%;
    margin: auto;
}

.table-container th, .table-container td {
    text-align: center;
}
